---
layout: default
audience: homepage
---

{% if paginator.total_pages > 1 and paginator.page > 1 %}
<div id="nav-below" class="navigation">
  {% if paginator.next_page %}
  <div class="nav-previous"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="meta-nav">←</span> Older posts</a></div>
  {% endif %}

  {% if paginator.previous_page %}
  <div class="nav-next"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer posts <span class="meta-nav">→</span></a></div>
  {% endif %}

</div>
{% endif %}

{% for post in paginator.posts %}

<div class="post type-post status-publish format-standard hentry">
  
  <!-- Blog header -->
  {% include blog-header.html %}

  <div class="entry-content">
	  {{post.content}}
	</div>

	<!-- Blog footer/meta information line -->
  {% include blog-meta-line.html %}

</div>

{% endfor %}

{% if paginator.total_pages > 1 %}
<div id="nav-below" class="navigation">
  {% if paginator.next_page %}
	<div class="nav-previous"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="meta-nav">←</span> Older posts</a></div>
  {% endif %}

  {% if paginator.previous_page %}
  <div class="nav-next"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer posts <span class="meta-nav">→</span></a></div>
  {% endif %}

</div>
{% endif %}