{% comment %}<!-- Get Number of comments returned as "comment-counter" -->{% endcomment %}
{% include get-num-comments.html %}

{% if comment-counter > 0 %}
<div id="comments">
  <h3 id="comments-title">{{comment-counter}} Response{% if comment-counter > 1%}s{% endif %} to <em>{{page.breadcrumb}}</em></h3>
  <ol class="commentlist">

  {% for comment in site.data.comments.sessions %}
    {% if comment.depth == "" or comment.depth == nil %}
    {% if comment.path == page.url %}

    {%comment%}<!-- Output comment list item-->{%endcomment%}
    {% include comment-single-display.html comment=comment %}

      {% if comment.child_id %}

        {% assign child-comments = site.data.comments.sessions | where:"_id",comment.child_id  %}

        {% for child in child-comments %}
        <ol class="children">
          {%comment%}<!-- Output comment list item-->{%endcomment%}
          {% include comment-single-display.html comment=child %}

            {% if child.child2_id %}

              {% assign second-child-comments = site.data.comments.sessions | where:"_id",child.child2_id  %}

              {% for second in second-child-comments %}
              <ol class="children">
                {%comment%}<!-- Output comment list item-->{%endcomment%}
                {% include comment-single-display.html comment=second %}
                </li>
                <!-- #comment-## -->
              </ol>
              {% endfor %}

            {% endif %}

          </li>
          <!-- #comment-## -->
        </ol>
        {% endfor %}

      {% endif %}

    </li>
    <!-- #comment-## -->

    {% endif %}
    {% endif %}
  {% endfor %}

  </ol>
    <!-- #commentlist -->
</div>
<!-- #comments -->
{% endif %}

<div id="respond" class="comment-respond">
  <h3 id="reply-title" class="comment-reply-title">Comments are closed for this post</h3>
</div>