    {% assign siderail = site.data.siderail %}

    <!-- Siderail -->
    <div id="primary" class="widget-area" role="complementary">
      <ul class="xoxo">

        <!-- Recent Posts -->
        <li id="recent-posts-2" class="widget-container widget_recent_entries">
          <h3 class="widget-title">{{ siderail.recent-posts-title }}</h3>
          <ul>
          {% for post in site.posts limit:5 %}  
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>  
          {% endfor %} 
          </ul>
        </li>

        <!-- Recent Comments -->
        <li id="recent-comments-2" class="widget-container widget_recent_comments">
          <h3 class="widget-title">{{ siderail.recent-comments-title }}</h3>
          <ul id="recentcomments">

          {% assign sorted-comments = (site.data.comments.sessions | sort: '_id' | reverse) %}

          {% for comment in sorted-comments limit:5 %}
            {% assign blog-title = "" %}
            {% for post in site.posts %}
              {% if comment.path == post.url %}
                {% assign blog-title = post.title %}
              {% endif %}
            {% endfor %}

            {% if blog-title == "" %}
              {% assign blog-title = "" %}
              {% for page in site.pages %}
                {% if comment.path == page.url %}
                  {% assign blog-title = page.title %}
                {% endif %}
              {% endfor %}
            {% endif %}

            <li class="recentcomments"><span class="comment-author-link">{{ comment.name }}</span> on <a href="{{ site.baseurl }}{{ comment.path }}#comment-{{ comment._id }}">{{blog-title}}</a></li>     

            {% endfor %}
            </ul>
        </li>

        <!-- Archives -->
        <li id="archives-2" class="widget-container widget_archive">
          <h3 class="widget-title">{{ siderail.archives-title }}</h3>
          <ul>
          {% for post in site.posts %}
            {% assign thisyear = post.date | date: "%B %Y" %}
            {% assign prevyear = post.previous.date | date: "%B %Y" %}
            {% if thisyear != prevyear %}
              <li><a href="{{ site.baseurl }}/{{ post.date | date: "%Y" }}/{{ post.date | date: "%m"}}/">{{ thisyear }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
        </li>

        <!-- Tag Cloud -->
        <li id="tag_cloud-3" class="widget-container widget_tag_cloud">
          <h3 class="widget-title">{{ siderail.tag-cloud-title }}</h3>
          <div class="tagcloud">

          {% assign sorted_tags = (site.tags | sort:0) %}

          {% for tag in sorted_tags %}
            <a href="{{ site.baseurl }}/tag/{{ tag | first | slugize | replace: ' ', '-' }}/" title="{{ tag[1].size }} topics" style="font-size: {{ tag | last | size | times: 90 | divided_by: site.tags.size | plus: 7 }}pt">{{ tag | first }}</a>
          {% endfor %}

          </div>
        </li>

        <!-- Favorite Blogs -->
        <li id="linkcat-6" class="widget-container widget_links">
          <h3 class="widget-title">{{ siderail.fav-blogs.title }}</h3>
          <ul class="xoxo blogroll">

          {% for item in siderail.fav-blogs.items %}
            <li><a href="{{ item.url }}"{% if item.rel %} rel="{{ item.rel}}"{% endif %}{% if item.open-in-new %} target="_blank"{% endif %}{% if item.title %} title="{{ item.title}}"{% endif %}>{{ item.name }}</a></li>
          {% endfor %}

          </ul>
        </li>

        <!-- Software Projects -->
        <li id="linkcat-70" class="widget-container widget_links">
          <h3 class="widget-title">{{ siderail.software-projects.title }}</h3>
          <ul class="xoxo blogroll">

          {% for item in siderail.software-projects.items %}
            <li><a href="{{ item.url }}" {% if item.open-in-new %}target="_blank"{% endif %}>{{ item.name }}</a></li>
          {% endfor %}

          </ul>
        </li>
      </ul>
    </div>