<!DOCTYPE html>
<html lang="en-US">
<head>

  <!-- General metadata -->
  <meta charset="UTF-8" />
  <title>{% if page.audience == "homepage" %}{{site.title}} | {{site.sub_title}} {% if paginator.page > 1 %}| Page {{paginator.page}}{% endif %}{% else %}{{page.title}} | {{site.title}}{% endif %}</title>

  <!-- Stylesheets -->  
  <link rel="stylesheet" type="text/css" media="all" href="{{site.baseurl}}/css/style.css" />

  <!-- Google Analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21278372-1']);
    _gaq.push(['_gat._forceSSL']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>

<body class="single single-post single-format-standard">
<div id="wrapper" class="hfeed">

  <!-- header -->
  {% include header.html %}

  <div id="main">

    <div id="container">
      <div id="content" role="main">
        {{content}}
      </div><!-- #content -->
    </div><!-- #container -->


    {% unless page.audience == "404" %}
      {% include siderail.html %}
    {% endunless %}

  </div><!-- #main -->

  <!-- footer -->
  {% include footer.html %}

</div><!-- #wrapper -->

</body>
</html>
