<!DOCTYPE html>
<html lang="en-US">
<head>

  <!-- General metadata -->
  <meta charset="UTF-8" />
  <title>{% if page.audience == "homepage" %}{{site.title}} | {{site.sub_title}}{% else %}{{page.title}} | {{site.title}}{% endif %}</title>

  <!-- Stylesheets -->  
  <link rel="stylesheet" type="text/css" media="all" href="{{site.baseurl}}/css/style.css" />

  <!-- Google Analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21278372-1']);
    _gaq.push(['_gat._forceSSL']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>

<body class="single single-post single-format-standard">
<div id="wrapper" class="hfeed">

  <!-- header -->
  {% include header.html %}

  <div id="main">

    <div id="container">
      <div id="content" role="main">
        {{content}}
      </div><!-- #content -->
    </div><!-- #container -->


<!-- Siderail -->
<div id="primary" class="widget-area" role="complementary">
  <ul class="xoxo">

    <!-- Recent Posts -->
    <li id="recent-posts-2" class="widget-container widget_recent_entries">
      <h3 class="widget-title">Recent Posts</h3>
      <ul>
      {% for post in site.posts limit:5 %}  
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.breadcrumb }}</a></li>  
      {% endfor %} 
      </ul>
    </li>

    <!-- Recent Comments -->
    <li id="recent-comments-2" class="widget-container widget_recent_comments">
      <h3 class="widget-title">Recent Comments</h3>
      <ul id="recentcomments">

      {% assign sorted-comments = (site.data.comments.sessions | sort: '_id' | reverse) %}

      {% for comment in sorted-comments limit:5 %}
        {% assign blog-title = "" %}
        {% for post in site.posts %}
          {% if comment.path == post.url %}
            {% assign blog-title = post.title %}
          {% endif %}
        {% endfor %}

        {% if blog-title == "" %}
          {% assign blog-title = "" %}
          {% for page in site.pages %}
            {% if comment.path == page.url %}
              {% assign blog-title = page.breadcrumb %}
            {% endif %}
          {% endfor %}
        {% endif %}

          <li class="recentcomments"><span class="comment-author-link">{{ comment.name }}</span> on <a href="{{ site.baseurl }}{{ comment.path }}#comment-{{ comment._id }}">{{blog-title}}</a></li>     

        {% endfor %}
        </ul>
    </li>

    <!-- Archives -->
    <li id="archives-2" class="widget-container widget_archive">
      <h3 class="widget-title">Archives</h3>
      <ul>
      {% for post in site.posts %}
        {% assign thisyear = post.date | date: "%B %Y" %}
        {% assign prevyear = post.previous.date | date: "%B %Y" %}
        {% if thisyear != prevyear %}
          <li><a href="{{ site.baseurl }}/{{ post.date | date: "%Y" }}/{{ post.date | date: "%m"}}/">{{ thisyear }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </li>

    <!-- Tag Cloud -->
    <li id="tag_cloud-3" class="widget-container widget_tag_cloud">
      <h3 class="widget-title">Tags</h3>
      <div class="tagcloud">

      {% assign sorted_tags = (site.tags | sort:0) %}

      {% for tag in sorted_tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag | first | slugize | replace: ' ', '-' }}/" title="{{ tag[1].size }} topics" style="font-size: {{ tag | last | size | times: 90 | divided_by: site.tags.size | plus: 7 }}pt">{{ tag | first }}</a>
      {% endfor %}

      </div>
    </li>

    <li id="linkcat-6" class="widget-container widget_links">
      <h3 class="widget-title">Blogs I Like</h3>
      <ul class="xoxo blogroll">
        <li><a href="http://historyoftheletter.wordpress.com/">History of the Letter</a></li>
        <li><a href="http://isitgross.com/" rel="friend" target="_blank">Is it Gross?</a></li>
        <li><a href="http://www.jeetorious.com" title="Life through poker">Jeetorious</a></li>
        <li><a href="http://moonside.wordpress.com/" rel="friend" target="_blank">Moonwel ot Cosideme</a></li>
      </ul>
    </li>
    <li id="linkcat-70" class="widget-container widget_links">
      <h3 class="widget-title">My Software Projects</h3>
      <ul class="xoxo blogroll">
        <li><a href="http://allyourtexts.com" rel="me" title="An iPhone utility I wrote" target="_blank">AllYourTexts</a></li>
      </ul>
    </li>
  </ul>
</div>





  </div><!-- #main -->

  <!-- footer -->
  {% include footer.html %}

</div><!-- #wrapper -->

</body>
</html>
